<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416111299272-njmkk6ja93ltcncassum2bmulcqpn62e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416111299272-njmkk6ja93ltcncassum2bmulcqpn62e</string>
	<key>API_KEY</key>
	<string>AIzaSyDAooeAeVne3ijfDbgukD0awrGQaZUtMNM</string>
	<key>GCM_SENDER_ID</key>
	<string>416111299272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jeeChat</string>
	<key>PROJECT_ID</key>
	<string>jee-chat-a3d1b</string>
	<key>STORAGE_BUCKET</key>
	<string>jee-chat-a3d1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416111299272:ios:f7af98bd7be22fbd8873fd</string>
</dict>
</plist>